<div class="container mt-5 mb-5">
    <div class="row d-flex justify-content-center">
        <%= link_to 'Create Article', new_article_path, class:'btn btn-primary' %>
    </div>
</div>
<%= render @articles, index: true %>