<footer class="page-footer bg-dark">
    <div class="bg-primary">
        <div class="container">
            <div class="row py-4 d-flex align-items-center">
                <div class="col-md-12 text-center">
                    <a target="_blank" href="https://www.facebook.com/dietyapp"> <i class="fab fa-facebook-square text-white mr-4"></i> </a>
                    <a target="_blank" href="https://www.linkedin.com/company/dietyap"> <i class="fab fa-linkedin text-white mr-4"></i> </a>
                    <a href="#"> <i class="fab fa-google-plus-square text-white mr-4"></i> </a>
                </div>
            </div>
        </div>
    </div>

    <div class="container text-center text-md-left mt-5">
        <div class="row">
            <div class="col-md-3 mx-auto mb-4">
                <h6 class="text-uppercase font-weight-bold"> Diety Ap </h6>
                <hr class="bg-success mb-4 mt-0 d-inline-block mx-auto" style="width: 125px; height: 2px;">
                <p>DietyAp was established in 2016 with an idea to build
                high performance, scalable and secure web and mobile applications
                with a team of experts who can deliver
                best solutions ever to our clients within the decided timeframe. </p>
            </div>

            <div class="col-md-2 mx-auto mb-4">
                <h6 class="text-uppercase font-weight-bold"> Quick links </h6>
                <hr class="bg-success mb-4 mt-0 d-inline-block mx-auto" style="width: 85px; height: 2px;">
                <ul class="list-unstyled">
                    <li class="my-2"> <%= link_to 'Home', root_path %> </li>
                    <li class="my-2"> <%= link_to 'Contact', contact_path %> </li>
                    <li class="my-2"> <%= link_to 'Blog', articles_path %> </li>
                </ul>
            </div>

            <div class="col-md-3 mx-auto mb-4">
                <h6 class="text-uppercase font-weight-bold"> Get in Touch </h6>
                <hr class="bg-success mb-4 mt-0 d-inline-block mx-auto" style="width: 125px; height: 2px;">
                <h4> Head Office </h4>
                <p> 1612 Npz Stedets, Sofia
                Bulgaria <p>
                <ul class="list-unstyled">
                    <li class="my-2"> <i class="fas fa-envelope"></i> dietyapcontact@gmail.com </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="footer-copyright text-center py-3">
        <p>&copy; Copyright 
            <a href="#">dietyap.com</a>
        </p>
        <p> Designed With <i class="fas fa-heart" style="color: red;"></i> By DietyAp Team </p>
    </div>
</footer>