<nav class="navbar navbar-light bg-white">
    <div class="container">
        <a class="navbar-brand" href="#">
            <%= image_tag "lougou1.png", width: "190", height: "90", class: "d-inline-block" %>
        </a>
        <ul class="nav justify-content-end">
            <li class="nav-item">
                <a class="nav-link" href="#">Home</a>
            </li>
            <li class="nav-item">
                <%= link_to 'Contact', contact_path, class: 'nav-link' %>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Blog</a>
            </li>
            <% if user_signed_in? %>
                <li class="nav-item">
                    <%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class: 'nav-link' %>
                </li>
            <% else %>
                <li class="nav-item">
                    <%= link_to 'Sign In', new_user_session_path, class: 'nav-link' %>
                </li>
            <% end %>
        </ul>   
    </div>    
</nav>
