<div class="image__part">
    <div class="h-100 container-fluid">
        <h1> Enterprise-grade </h1>
        <h1> Full stack development </h1>
        <h4> We build solutions for startups, enterprises, and SMEs that help them succeed at the speed of light. </h5>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8"> 
            <br> 
            <br> 
            <p class="text-center" style="opacity:0.7;"> Our service </p>
            <br> 
            <h1 class="text-center">Full stack development</h1> 
            <br>
            <h6 class="text-center"> We create quality software products that benefit businesses of any size.
            We go beyond technology solution to understand your vision and deliver intuitive, custom-made,
            and customer-centric web and mobile app solutions. </h6>
        </div>
        <div class="col-2"></div>
    </div>

    <div class="row">
        <div class="col-2"> </div>
        <div class="col-8">
            <br>
            <br>
            <div class="d-flex justify-content-center flex-wrap">
                <div class="card m-3 shadow p-3 mb-5 bg-white rounded" style="max-width: 18rem;">
                    <div class="card-header d-flex justify-content-center">Header</div>
                    <div class="card-body">
                        <h5 class="card-title">Light card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
                <div class="card m-3 shadow p-3 mb-5 bg-white rounded" style="max-width: 18rem;">
                    <div class="card-header d-flex justify-content-center">Header</div>
                    <div class="card-body">
                        <h5 class="card-title">Light card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
                <div class="card m-3 shadow p-3 mb-5 bg-white rounded" style="max-width: 18rem;">
                    <div class="card-header d-flex justify-content-center">Header</div>
                    <div class="card-body">
                        <h5 class="card-title">Light card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>
        <div>
        <div class="col-2"> </div>
    </div>
</div>