// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
body {
    min-height: 100%;
    font-family: 'Baloo Tamma 2', cursive;
}

.image__part {
    height: 500px;
    background: rgb(248, 247, 247);
    .container-fluid {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        h1 {
            text-shadow: -6px 4px 4px rgba(150, 150, 150, 0.5);
        }
    }
}

a {
    color: #333;
}

.nav {
    border-left: 1px rgb(175, 174, 174) solid;
}

.card, .card-header {
    background-color: rgb(255, 254, 254);
    border: none;
}
